<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="public/css/style.css">
<style>
    .container{
        display: flex;
    }
    </style>
<body>
<div class="container">
  <form action="/contact" method="post">
  <div class="name">

    <label for="fname">Name</label>
    <input type="text" id="fname" name="name" placeholder="">
  </div>
    <div class="phone">

    <label for="fname">phone</label>
    </div>

    <input type="text" id="fname" name="phone" placeholder="">



    <div class="email">
    <label for="fname">email</label>
    <input type="text" id="fname" name="email" placeholder="">
    </div>


    <div class="msg">

    <label for="fname">message</label>
    <input type="text" id="fname" name="message" placeholder="">

    </div>
    <div class="butt">

    <input type="submit" value="Submit">
    </div>

  </form>
</body>
</html>